.sign-up-page-child {
  position: absolute;
  width: 100%;
  top: 42px;
  right: 0;
  left: 0;
  background-color: var(--faint-blue);
  height: 94px;
}
.frame-child {
  width: 72px;
  position: relative;
  border-radius: 50%;
  height: 72px;
  object-fit: cover;
}
.sign-up-page-inner {
  position: absolute;
  top: 43px;
  left: 3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.site-name {
  text-decoration: none;
  position: relative;
  font-weight: 800;
  color: inherit;
}
.site-name-wrapper {
  position: absolute;
  top: 60px;
  left: 89px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  font-size: 32px;
}
.home {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.home-parent,
.log-in-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-5xl);
}
.home-parent {
  top: 74px;
  left: 467px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 39px;
}
.log-in-wrapper {
  top: 64px;
  left: 1166px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.get-started {
  position: relative;
  font-weight: 800;
}
.get-started-wrapper {
  position: sticky;
  top: 67px;
  left: 1338px;
  background-color: var(--color-darkslateblue);
  width: 157px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: #ddd9d9;
}
.full-name {
  border: 0;
  background-color: transparent;
  position: relative;
}
.full-name-wrapper {
  position: absolute;
  top: 0;
  left: -5px;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 534px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.email {
  position: relative;
}
.email-wrapper {
  position: absolute;
  top: 194px;
  left: -5px;
  background-color: var(--surface-primary);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 867px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.material-symbols-lightarrow-d-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.hobbies-parent,
.sex-parent {
  top: 97px;
  background-color: var(--surface-primary);
}
.sex-parent {
  position: absolute;
  left: -5px;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: 30px;
}
.hobbies-parent {
  left: 262px;
  width: 109px;
  gap: 9px;
}
.hobbies-parent,
.mental-health-issues-parent,
.password-wrapper,
.re-enter-password-wrapper {
  position: absolute;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.mental-health-issues-parent {
  top: 97px;
  left: 550px;
  background-color: var(--surface-primary);
  width: 312px;
  gap: 80px;
}
.password-wrapper,
.re-enter-password-wrapper {
  top: 291px;
  left: -5px;
  width: 867px;
}
.re-enter-password-wrapper {
  top: 388px;
}
.frame-parent {
  position: absolute;
  width: calc(100% - 650px);
  top: 232px;
  right: 322px;
  left: 328px;
  height: 427px;
}
.age-parent,
.flat-color-iconsgoogle-parent,
.sign-up-with-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs);
}
.age-parent {
  position: absolute;
  top: 232px;
  left: 878px;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 312px;
  height: 39px;
  justify-content: flex-start;
  gap: 220px;
}
.flat-color-iconsgoogle-parent,
.sign-up-with-wrapper {
  justify-content: center;
}
.flat-color-iconsgoogle-parent {
  gap: 10px;
  color: #1f1f1f;
}
.frame-div,
.frame-group {
  position: absolute;
  display: flex;
}
.frame-group {
  width: 206px;
  margin: 0 !important;
  top: 0;
  left: 0;
  height: 115px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  z-index: 0;
}
.frame-div {
  top: 738px;
  left: 653px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.sign-in {
  text-decoration: none;
  position: relative;
  font-weight: 900;
  color: inherit;
}
.sign-in-wrapper {
  position: absolute;
  top: 688px;
  left: 321px;
  background-color: var(--faint-blue);
  width: 868px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  color: var(--color-darkslateblue);
}
.sign-up-page {
  width: 100%;
  position: relative;
  background-color: var(--surface-primary);
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}



/* new line */
/* .full-name-input,
.email-input,
.password-input,
.re-enter-password-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid var(--color-gray-100);
  border-radius: 5px;
}

.sex-parent,
.hobbies-parent,
.mental-health-issues-parent,
.password-wrapper,
.re-enter-password-wrapper,
.age-parent,
.flat-color-iconsgoogle-parent,
.sign-up-with-wrapper {
  position: absolute;
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
} */
