@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800;900&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;

  /* Colors */
  --surface-primary: #fff;
  --faint-blue: #cdd2f6;
  --color-darkslateblue: #2e3788;
  --color-gray-100: rgba(31, 31, 31, 0.12);
  --color-black: #000;

  /* Paddings */
  --padding-3xs: 10px;
}
